<header class="header-nav">
  <div>
    <a href="/">
      <img
        src="{{'c.png' | asset_url}}"
        width="80"
        height="80"
        loading="lazy">
    </a>
  </div>

  <div>
    <ul class="middle-nav-links">
      {% for link in linklists['main-menu'].links %}
        <li>{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="right-nav-items">
    <form action="/search">
      <input
        class="search-nav"
        placeholder="search"
        type="search">
    </form>
    <a href="/cart">
      <img
        class="image-cart-icon"
        width="40"
        height="40"
        loading="lazy"
        src="{{'d.png' | asset_url}}"></a>
  </div>
</header>

<style>
  .header-nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1px;
    background-color: white;
  }

  .middle-nav-links {
    display: flex;
    font-size: 17px;
    font-weight: bold;
  }

  .middle-nav-links li {
    padding: 10px;
    list-style: none;
  }

  .middle-nav-links a {
    color: inherit;
    text-decoration: none;
  }

  .middle-nav-links li:hover {
    text-decoration: none;
    color: rgb(184, 0, 0);
    transition: .3s;
  }


  .right-nav-items {
    display: flex;
    align-items: center;
  }

  .image-cart-icon {
    margin: 5px;
  }

  .search-nav {
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(232, 232, 232, 232);
  }

</style>